@model  Storyboard.Web.Models.HeaderViewModel
<header>
    <div class="titleBlock">
        Storyboard
    </div>
    <div class="userBlock">
        @if (Model.IsLoggedIn)
        {
            @Model.Username
            @Html.Raw(" ")
            @Html.ActionLink("Log out", "LogOff", "Account", null)
        }
        else
        {
            @Html.ActionLink("Log in", "LogIn", "Account")
        }

    </div>
    <div class="clearfix"></div>
</header>