@model  Storyboard.Web.Models.HeaderViewModel
<header>
    <div class="titleBlock">
        Storyboard
    </div>
    <div class="userBlock">
        @if (Model.IsLoggedIn)
        {            
            <div class="navDropdown">
               <a href="#" class="navDropdownButton">@Model.Username</a>
               <ul class="navDropdownMenu">
                    <li>
                        @Html.ActionLink("Log out", "LogOff", "Account", null)
                    </li>
               </ul>
            </div>
        }
        else
        {
            @Html.ActionLink("Log in", "LogIn", "Account")
        }

    </div>
    <div class="clearfix"></div>
</header>