# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.dll

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
/packages
/.vs
/data/Storyboard.Database/bin
/data/Storyboard.Database/obj
/src/Storyboard.Data/Bin
/src/Storyboard.Data/obj
/test/Storyboard.Data.Tests/Bin
/test/Storyboard.Data.Tests/obj
/src/Storyboard.Database/Bin
/src/Storyboard.Database/obj
/src/Storyboard.Domain/Bin
/src/Storyboard.Domain/obj
/src/Storyboard.Web/Bin
/src/Storyboard.Web/obj
/src/Storyboard.Web/bower_components
/src/Storyboard.Web/node_modules
/test/Storyboard.Web.Tests/Bin
/test/Storyboard.Web.Tests/obj
/src/Storyboard.Web/wwwroot/lib
/src/Storyboard.Web/wwwroot/css
/src/Storyboard.Web/wwwroot/App
/src/Storyboard.Web/wwwroot/_references.js
*.suo
*.dbmdl
*.user
*.publish.xml
*.pubxml
*.lock.json
