<div class="grid">
    <div class="gridCell page-content" style="width:100%">
        <h3 ng-show="!vm.IsLoaded">Loading...</h3>
        <a class="btn btn-icon glyphicon glyphicon-chevron-left" href="#story/" style="float:left"></a>
        <sb-edit-title style="width:calc(100% - 30px); float:left" sb-input="vm.Overview.Summary.Title" sb-saved="vm.update()"></sb-edit-title>
        <sb-edit-area style="width:calc(100% - 30px);" sb-input="vm.Overview.Summary.Synopsis" sb-saved="vm.update()"></sb-edit-area>
        <div ng-show="vm.IsLoaded">
            <h3>Actors <button class="btn btn-icon glyphicon glyphicon-plus" ng-click="vm.openCreateActorDialog()"></button></h3>
            <table>
                <tr ng-repeat="actor in vm.Overview.Actors">
                    <td>
                        {{ actor.Name}}
                    </td>
                    <td>
                        {{ actor.Description}}
                    </td>
                    <td>
                        <a class="btn btn-icon glyphicon glyphicon-search" href="#actor/{{actor.Id}}/s/{{vm.Overview.Summary.Id}}"></a>
                    </td>
                    <td>
                        <button class="btn btn-icon glyphicon glyphicon-trash" ng-click="vm.deleteActorCommand(actor.Id)"></button>
                    </td>
                </tr>
            </table>          
        </div>
    </div>
    <sb-sidebar class="gridCell sideMenu" sidebar-header="Section" sidebar-width="200px">
        <div ng-show="vm.IsLoaded">
            <p ng-repeat="section in vm.Overview.Sections">{{section.Description}}</p>
        </div>
    </sb-sidebar>
</div>