<div class="modal-header">
    <h3 class="modal-title">Create Story</h3>
</div>
<div class="modal-body">
    <h3>Title</h3>
    <input type="text" ng-model="vm.Command.Title" placeholder="Enter a title here">
    <h3>Synopsis</h3>
    <input type="text" ng-model="vm.Command.Synopsis" placeholder="Enter a synopsis here">
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="vm.ok()">OK</button>
    <button class="btn btn-warning" ng-click="vm.cancel()">Cancel</button>
</div>
