<a href="#story/">Back</a>
<h3>{{vm.Overview.Summary.Title}}</h3>
<p>{{vm.Overview.Summary.Synopsis}}</p>
<p>
    <button class="btn btn-default" ng-click="vm.openCreateActorDialog()">New Actor</button>
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="actor in vm.Overview.Actors">
        <td>
            {{ actor.Name}}
        </td>
        <td>
            {{ actor.Description}}
        </td>
        <td>
            <button class="btn btn-default" ng-click="vm.deleteActorCommand(actor.Id)">Delete</button>
        </td>
    </tr>
</table>
