<h3><a class="btn btn-icon glyphicon glyphicon-chevron-left" href="#story/"></a> {{vm.Overview.Summary.Title}}</h3>
<p>{{vm.Overview.Summary.Synopsis}}</p>
<div ng-show="vm.IsLoaded">
    <h3>Actors <button class="btn btn-icon glyphicon glyphicon-plus" ng-click="vm.openCreateActorDialog()"></button></h3>
    <table>
        <tr ng-repeat="actor in vm.Overview.Actors">
            <td>
                {{ actor.Name}}
            </td>
            <td>
                {{ actor.Description}}
            </td>
            <td>
                <button class="btn btn-icon glyphicon glyphicon-trash" ng-click="vm.deleteActorCommand(actor.Id)"></button>
            </td>
        </tr>
    </table>
</div>
