<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HDLink" version="1.0.0-CI00006" targetFramework="net45" userInstalled="true" />
  <package id="JustMock" version="2015.1.224.3" targetFramework="net45" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" userInstalled="true" />
</packages>