<div style="display:inline">
    <h3 style="margin:0;" *ngIf="!IsEditing">{{Value}}<button class="btn btn-icon glyphicon glyphicon-pencil faint" (click)="edit()"></button></h3>
    <div *ngIf="IsEditing" style="display:inline">
        <input type="text" style="width: calc(100% - 50px)" maxlength="200" [(ngModel)]="EditedValue" placeholder="Enter a name here">
        <div class="btn-group" role="group" aria-label="..." >
            <button class="btn btn-icon glyphicon glyphicon-floppy-disk" (click)="save()"></button>
            <button class="btn btn-icon glyphicon glyphicon-remove" (click)="cancel()"></button>
        </div>
    </div>
</div>
