@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_AngularLayout.cshtml";
}

<main ng-app="storyboardApp">
    <div ng-view=></div>
</main>

@section scripts 
{
    @Scripts.Render("~/bundles/Home")
    
    <script src="~/App/AppBootstrapper.js"></script>
}