@import "_colourPalette.scss";
@import "_textProperties.scss";


body{
    background: $background;
    margin: 0;
    padding: 0;
    font-size: $regularFont;
    color:$fontColour;
    min-height:100vh;
    position:relative;
}



footer {
    margin: 0;
    font-size: $smallFont;
    height: 20px;
    position:absolute;
    bottom: 0;
    p {
        margin: 0;
        padding: 0 5px;
    }
}
.page-content {
    padding: 0 5px
}


main {
    padding: 1px 0 19px 0;
}

table {
    width: 100%;
    td {
        border-top: 1px solid $fontfaintColour;
        padding: 2px;
    }
}

.btn-icon {
  color: $fontColour;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 5px;
  padding:3px;
  
  &:hover{
      background-color: $accentColour
  }
}
.faint {
    color: $fontfaintColour;
}



