@import "_colourPalette.scss";
@import "_textProperties.scss";


body{
    background: $background;
    margin: 0;
    padding: 0;
    font-size: $regularFont;
    color:$fontColour
}

header {
    background: $accentColour;
    margin:0 0 20px 0;
    padding:5px;

}

footer {
    margin: 20px 5px;
    font-size: $smallFont;
}

.titleBlock {
    float: left;
    color: $fontColour;
    text-align: left;
    font-size: $largeFont;
}
.userBlock {
    float: right;
} 

main {
    padding: 0 5px;
}

table {
    width: 100%;
    td {
        border-top: 1px solid $fontfaintColour;
        padding: 2px;
    }
}

.btn-icon {
  color: $fontColour;
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 5px;
  padding:3px;
  
  &:hover{
      background-color: $accentColour
  }
}
.faint {
    color: $fontfaintColour;
}

aside.sideMenu {
    padding-left: 5px;
    border: 2px solid $accentColour;
    background-color: $accentFaintColour;
}

